APP_URL=http://localhost:3333
NODE_ENV=development

# Auth

APP_SECRET=1a17423e4dec4ea6ed893d8a05f28ed3

# Database

DB_HOST=localhost
DB_USER=postgres
DB_PASS=docker
DB_NAME=gympoint

# Mongo

MONGO_URL=

# Redis

REDIS_HOST=
REDIS_POST=

# Mail

MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=
MAIL_PASS=

# Sentry

SENTRY_DSN=
