<div style="
  background: #FFF;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0;">
  <img src="https://github.com/rodrigocichetto/bootcamp-gostack-desafio-03/blob/master/.github/g570.png?raw=true"
    alt="Gymnasts" />
</div>
