<div style="
  background: #FFF;
  display: block;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;">
  <img src="https://github.com/rodrigocichetto/bootcamp-gostack-desafio-03/blob/master/.github/g570.png?raw=true"
    alt="Gymnasts" style="height: 250px;" />
</div>
