<strong>Olá, <span style="color: #EE4D64">{{ student.name }}</span></strong>
<p>
  A sua dúvida foi respondida! ;D
</p>
<p>
  <strong>Pergunta:</strong> {{ question }} <br>
</p>
<p style="color: #EE4D64">
  <strong>Resposta:</strong> {{ answer }} <br>
</p>
